body {
  background-image: url('https://i.pinimg.com/736x/77/77/9a/77779aeec25ffe6a3d7ba33da1c1bc81.jpg');
  text-align: center;
}

.heading{
  font-family: 'Josefin Sans', sans-serif;
  margin: 3% 0 0 0 ;
  font-size: 3.5rem;
  color: lightblue;
}
.heading1{
font-family: 'Dancing Script', cursive;
font-size: 4rem;
margin: 0;
color: paleturquoise;
}

footer {
  color: aliceblue;
  font-family: sans-serif;
}

.w {
  background-image: url("https://st.depositphotos.com/1494134/4144/v/450/depositphotos_41441007-stock-illustration-bass-drum-vector-illustration.jpg");
  background-size: cover;
}
.a {
  background-image: url("https://sc04.alicdn.com/kf/HTB19V4QpHZnBKNjSZFKq6AGOVXaN.jpg");
  background-size: cover;
}
.s {
  background-image: url("http://atlas-content-cdn.pixelsquid.com/stock-images/bongo-a8oV1e6-600.jpg");
  background-size: cover;
}
.d {
  background-image: url("https://s3.amazonaws.com/images.static.steveweissmusic.com/products/images/uploads/1145179_48330_large.jpg");
  background-size: cover;
}
.j {
  background-image: url("https://static.turbosquid.com/Preview/001297/789/ZQ/_600.jpg");
  background-size: cover;
}
.k {
  background-image: url("https://i.ebayimg.com/images/g/4IoAAOSwnHZYcv-X/s-l500.jpg");
  background-size: cover;
}
.l {
  background-image: url("https://www.collinsdictionary.com/images/full/snaredrum_233695612_1000.jpg");
  background-size: cover;
}

.set {
  margin: 5% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  line-height: 2;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0px 20px 20px 20px; 
}
